body, html{
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

.grayout {
    opacity: 0.4; /* Real browsers */
    filter: alpha(opacity = 64); /* MSIE */
}

h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


.book {
	padding: 5px;
}

.book_det {
	margin: auto;
}

.book_display {
	max-width: 70%;
	margin: auto;
}

.lend_form {
	margin-top: 5px;
	text-align:center;
}

.form-inline {
	margin: auto;
	display:inline-block;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.book {
	padding: 0px;
	min-width: 250px;
	background: #2b669a;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-header {
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	font-size: 120%;
	background: #5bc0de;
}
.book-img-container {
	margin: auto;
}

.book-img {
	display: block;
	margin: 5px auto 5px auto;
	max-height: 150px;
}
.book-button {
	background: #9acfea;
	border: #23527c solid 1px;
	text-align: center;
}

#outside:checked + div {
display: none;
}

.ad-comment {
	padding: 5px;
	font-size: 120%;
	border: #23527c solid 1px;
	text-align: center;
}

.comment-input {
	width: 100%;
}