<!doctype html>
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BestLibrary</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script>
    $('#outside').click(function() {
        $('#username_field')[this.checked ? "show" : "hide"]();
    });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('user_homepage') }}">Personal library</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.value(size=32, class_="form-control", placeholder="Search...") }}
                </div>
                <div class="form-group">
                    {{ form.search_type(size=1, class_="form-control") }}
                </div>
                <button type="submit" class="btn btn-success" {{ url_for('user_homepage') }}>Search</button>
            </form>
            <form class="navbar-form navbar-right" role="form">
                <a type="submit" class="btn btn-success" href="{{ url_for('add_book') }}">Add book</a>
            </form>
            <form class="navbar-form navbar-right" role="form">
                <a type="submit" class="btn btn-success" href="{{ url_for('logout') }}">Log off</a>
            </form>
            <form class="navbar-form navbar-right" role="form">
                <a type="submit" class="btn btn-success" href="{{ url_for('user_collection') }}">My collection</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="panel panel-primary book_display">
        {% if book.status == 'free' %}
        <div class="panel-heading">{{ book.title }}</div>
        {% else %}
        <div class="panel-heading">{{ book.title }} [NOT AVAILABLE]</div>
        {% endif %}
        <div class="panel-body"><img src="{{ book.img_url }}" class="img-responsive"
                                     style="max-height:200px; margin: auto" alt="Image"></div>
        <div class="panel-footer">{{ book.description }}</div>

        {% for comment in comments %}
            <div class="panel-footer">
                <p>{{ comment.author_username }} {{ comment.date }}</p>
                <p>{{ comment.text_value }}</p>
            </div>

        {% endfor %}
        <div class="ad-comment" href="{{ url_for('view_book', isbn=book.isbn) }}">
                <a href="{{ url_for('view_book', isbn=book.isbn) }}">Add comment</a>
            {{ comment_form.hidden_tag() }}
        <br/>
                    {{ comment_form.comment_text(class_="comment-input",size=30, placeholder="Comment...", id="comment_text") }}
        </div>

        {% if book.status == 'free' %}
        <div class="lend_form">
            <form class="form-inline" method="post" action="#">
                {{ lend_form.hidden_tag() }}
                <label for="username">Outside:</label>
                <input type="checkbox" name="outside" value="Outside" id="outside">
                <div class="form-group" id="username_field">
                    <label for="username">Username:</label>
                    {{ lend_form.username(size=32,type="text", class_="form-control", id="username", placeholder="User137") }}
                </div>
                <div class="form-group" style="display: none">
                    <label for="time">Date to:</label>
                    {{ lend_form.time(size=32,type="text", class_="form-control", id="time", placeholder="14-09-2018") }}
                </div>
                <div class="form-group">
                    {{ lend_form.submitL(class="btn btn-default") }}
                </div>
            </form>
        </div>
        {% endif %}

    </div>
</div>
</div>

</div>

<script src="static/js/vendor/bootstrap.min.js"></script>

<script src="static/js/main.js"></script>

</body>
</html>
